<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <a href="/products/create">Crear un producto</a>
  <section>
    <% products.forEach(producto => { %>
        <article>
          <h1><%= producto.title %></h1>
          <h3>$<%= producto.price %></h3>
          <a href="/products/<%= producto.id %>/detail">
            <button>Ver detalle</button>
          </a>
        </article>
    <% }) %>

  </section>
</body>

</html>