/* Estilos base */

html,
body {
  height: 100%;
  width: 100%;
  overflow: hidden;
  margin: 0;
}

.pasto,
.cielo,
.calle {
  position: relative;
}

.cielo {
  height: 40%;
  background-color: lightblue;
  display: grid;
  place-items: center;
}

.pasto {
  height: 30%;
  background: seagreen;
}

.calle {
  height: 30%;
  background: dimgrey;
  box-sizing: border-box;
  border-top: 10px solid grey;
  border-bottom: 10px solid grey;
  width: 100%;
}

.lineas {
  box-sizing: border-box;
  border: 5px dashed #fff;
  height: 0px;
  width: 100%;
  position: absolute;
  top: 45%;
}

.mario {
  position: absolute;
  top: -40px;
  left: 0px;
  animation-name: manejar;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.luigi {
  position: absolute;
  top: 100px;
  left: 0px;
  animation-name: manejar;
  animation-duration: 3s;
  animation-fill-mode: both;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-delay: 500ms;
}

.boton {
  padding: 25px;
  width: 100px;
  height: 25px;
  box-sizing: content-box;
  background-color: blue;
  transition: 0.5s;
}

.boton:hover {
  border-radius: 15px;
  background-color: aquamarine;
}

@keyframes manejar {
  0% {
    transform: translateX(-150px) scale(1);
  }

  50% {
    transform: scale(1.5);
  }

  100% {
    transform: translateX(2000px) translateY(50px) scale(2);
  }
}


img {
  display: none;
}

.caja {
  width: 25vw;
  height: 25vw;
  border: 1px solid black;
}

.caja:hover img {
  display: block;
}