<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>Crear jugador</h1>
    <form action="/jugadores" method="post">
        <input type="text" name="first_name" placeholder="Nombre">
        <input type="text" name="last_name" placeholder="Apellido">
        <input type="hidden" value="dato-secreto" name="" id="">
        <select name="club_id">
            <% clubes.forEach(club=> { %>
                <option value="<%= club.id %>">
                    <%= club.name %>
                </option>
                <% }) %>
        </select>
        <input type="submit" value="Crear">
    </form>
</body>

</html>