<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <form action="/products" method="post" enctype="multipart/form-data">
    <input type="text" name="title" placeholder="Titulo">
    <input type="number" name="price" placeholder="999">
    <input type="file" multiple name="img">
    <input type="submit" value="Registrar producto">
  </form>
</body>

</html>