<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Editar producto <%= product.id %></h1>
    <form action="/products/<%= product.id %>/edit?_method=PUT" method="post">
        <input type="text" value="<%= product.title %>" name="title" placeholder="Titulo">
        <input type="number" value="<%= product.price %>" name="price" placeholder="999">
        <input type="submit" value="Registrar producto">
    </form>
</body>
</html>