<!DOCTYPE html>
<head>
  <title>Mario Kart Animations</title>
  <link href="/css/style.css" rel="stylesheet" type="text/css">
</head>
<body>
  <div class="cielo">
    <button class="boton">
      <input type="text">
    </button>
  </div>
  <div class="pasto"></div>
  <div class="calle">
    <div class="lineas"></div>
    <img class="mario" src="/img/mario.png" alt="">
    <img class="luigi" src="/img/luigi.png" alt="">
  </div>

  <div class="caja">
    <h1>asdfasdf</h1>
    <img src="/img/luigi.png" alt="">
  </div>
</body>