<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
</head>
<body>
    <h1>Regístrate!</h1>
    <p style="color: red;"><%= error %></p>
    <h3 id="pw-security">la contraseña es: </h3>

    <form id="register-form" action="/users/register" method="post">
        <input type="email" id="email" name="email" placeholder="email">
        <input id="password" type="password" name="password" placeholder="password">
        <input type="checkbox" id="ver-pw">
        <input type="submit">
    </form>

    <script src="/js/registerValidations.js"></script>
</body>
</html>